@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

html {
    font-family: 'DM Sans', sans-serif;
}

hr {
    @apply dark:border-neutral-700;
}

details summary::-webkit-details-marker {
  display:none;
}

@layer utilities {
    .text-regular {
        @apply text-neutral-900 dark:text-neutral-200;
    }

    .text-light {
        @apply text-gray-500 dark:text-neutral-400;
    }

    .text-lighter {
        @apply text-gray-400 dark:text-neutral-500;
    }

    .border-default {
        border-width: 1px;
        @apply border-gray-200 dark:border-neutral-700;
        border-style: solid;
    }

    .glowy-bg {
        background-image:
            radial-gradient(10% 10% at 25% 10%, var(--wl-primary-light-2) 0%, transparent 100%),
            radial-gradient(10% 10% at 75% 75%, var(--wl-primary-light-2) 0%, transparent 100%),
            radial-gradient(8% 8% at 50% 20%, var(--wl-primary-light-2) 0%, transparent 100%),
            radial-gradient(12% 12% at 10% 80%, var(--wl-primary-light-2) 0%, transparent 100%),
            radial-gradient(6% 6% at 90% 50%, var(--wl-primary-light-2) 0%, transparent 100%),
            radial-gradient(15% 15% at 50% 90%, var(--wl-primary-light-2) 0%, transparent 100%);
    }
}


